*.class

# package file
*.war
*.ear

# kdiff3 ignore
*.orig

# maven ignore
target/

# eclipse ignore
.settings/
.project
.classpath

# idea
.idea/
/idea/
*.ipr
*.iml
*.iws

# temp file
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db

/src/main/webapp/node_modules/
/src/main/webapp/dist/
src/main/java/com/mmall/vo/
src/main/webapp/dist/
src/main/webapp/src/service/
src/main/webapp/src/util/
src/test/
